@{
    Layout = "~/Views/Shared/_AuthLoginLayout.cshtml";
}
<div class="container" style="width:50%">
    <div>
        <img src="~/images/logo.png" alt="" class="img-fluid" style="height:150">
        <h3>Forgot Password</h3>
    </div>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
